/*!
 *  525icons by @runestro
 *  Web font made in the IcoMoon App - https://icomoon.io/#docs
 *  License - (Font: SIL OFL 1.1, CSS: MIT License)
 */
@import 'style.css';

/* 525icons uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
@font-face {
	font-family: '525icons';
	src:url('525icons.eot');
	src:url('525icons.eot?#iefix') format('embedded-opentype'),
		url('525icons.woff2') format('woff2'),
		url('525icons.woff') format('woff'),
		url('525icons.ttf') format('truetype'),
		url('525icons.svg?#525icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: '525icons';
        src: url('525icons.svg#525icons') format('svg');
    }
}

i, .ux {
	display: inline-block;
	font: normal normal normal 16px/1 '525icons';
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	speak: none;
}

/* makes the font 33% larger relative to the icon container */
.ux-lg {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;

	}
.ux-v-align {
	line-height: 0.75em;
	vertical-align: -15%;
}
.ux-1-5x {
	/* font-size: 1.5em; */
	font-size: 24px;
	vertical-align: -10%;
}
.ux-2x {
	/* font-size: 2em; */
	font-size: 32px;
}

.ux-3x {
	/* font-size: 3em; */
	font-size: 48px;
}
.ux-4x {
	/* font-size: 4em; */
	font-size: 64px;
}
.ux-5x {
	/* font-size: 5em; */
	font-size: 80px;
}
.ux-6x {
	font-size: 96px;
}
.ux-7x {
	font-size: 112px;
}
.ux-fw {
	width: 1.28571429em;
	text-align: center;
}

.ux-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none;
}
.ux-ul > li {
	position: relative;
}
.ux-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: 0.14285714em;
	text-align: center;
}
.ux-li.ux-lg {
	left: -1.85714286em;
}
.ux-border {
	padding: .2em .25em .15em;
	border: solid 0.08em rgba(0,0,0, 0.15);
	border-radius: .1em;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.ux.pull-left {
	margin-right: .25em;
}
.ux.pull-right {
	margin-left: .25em;
}
.ux-spin {
  -webkit-animation: ux-spin 2s infinite linear;
  animation: ux-spin 2s infinite linear;
}
.ux-pulse {
  -webkit-animation: ux-spin 1s infinite steps(8);
  animation: ux-spin 1s infinite steps(8);
}
@-webkit-keyframes ux-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ux-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ux-rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ux-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.ux-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.ux-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.ux-flip-horizontal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.ux-flip-vertical {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
:root .ux-rotate-45,
:root .ux-rotate-90,
:root .ux-rotate-180,
:root .ux-rotate-270,
:root .ux-flip-horizontal,
:root .ux-flip-vertical {
  filter: none;
}
.ux-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.ux-stack-1x,
.ux-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}
.ux-stack-1x {
	line-height: inherit;
}

.ux-stack-2x {
	font-size: 2em;
}

.ux-inverse {
	color: #ffffff;
}

 a .inv:hover {	
	filter: invert(100%);
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);	
}
a .str:hover {
	text-shadow:
   -1px -1px 0 rgba(255,255,255,1),
    1px -1px 0 rgba(255,255,255,1),
    -1px 1px 0 rgba(255,255,255,1),
    1px 1px 0 rgba(255,255,255,1);
}
a .blr:hover {
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	font-size: 120%;
	font-weight: 120%;
}

.white-shadow {
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.85);
}
.shadow1 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}
.shadow2 {
	text-shadow: 1px 1px 0px #eee, 2px 2px 9px rgba(0,0,0,.4);
}
.stroke1, .outline1, .contour1
{
    text-shadow:
    -1px -1px 0 rgba(0,0,0,1),
    1px -1px 0 rgba(0,0,0,1),
    -1px 1px 0 rgba(0,0,0,1),
    1px 1px 0 rgba(0,0,0,1);  
}
.stroke2, .outline2, .contour2
{
    text-shadow:
	 -1px -1px 0 rgba(0,0,0,1),
    1px -1px 0 rgba(0,0,0,1),
    -1px 1px 0 rgba(0,0,0,1),
    1px 1px 0 rgba(0,0,0,1),  
    -2px -2px 0 rgba(0,0,0,1),
    2px -2px 0 rgba(0,0,0,1),
    -2px 2px 0 rgba(0,0,0,1),
    2px 2px 0 rgba(0,0,0,1);  
}
.white-stroke1
{
    text-shadow:
    -1px -1px 0 rgba(255,255,255,1),
    1px -1px 0 rgba(255,255,255,1),
    -1px 1px 0 rgba(255,255,255,1),
    1px 1px 0 rgba(255,255,255,1); 
}
.white-stroke2
{
    text-shadow:
    -1px -1px 0 rgba(255,255,255,.75),
    1px -1px 0 rgba(255,255,255,.75),
    -1px 1px 0 rgba(255,255,255,.75),
    1px 1px 0 rgba(255,255,255,.75), 
	
	-2px -2px 0 rgba(255,255,255,.5),
    2px -2px 0 rgba(255,255,255,.5),
    -2px 2px 0 rgba(255,255,255,.5),
    2px 2px 0 rgba(255,255,255,.5); 
	
}
.stroke-shadow1
{
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff, 
		
	-2px -2px 0 rgba(0,0,0,.1),
    2px -2px 0 rgba(0,0,0,.1),
    -2px 2px 0 rgba(0,0,0,.1),
    2px 2px 0 rgba(0,0,0,.1),
	
	-3px -3px 0 rgba(0,0,0,.05),
    3px -3px 0 rgba(0,0,0,.05),
    -3px 3px 0 rgba(0,0,0,.05),
    3px 3px 0 rgba(0,0,0,.05),
	1px 1px 4px rgba(0, 0, 0, 0.75);
}
.stroke-shadow2
{
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff, 
	
	-2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff, 
	
	-3px -3px 0 #ccc,
    3px -3px 0 #ccc,
    -3px 3px 0 #ccc,
    3px 3px 0 #ccc, 
	
	-4px -4px 0 rgba(0,0,0,.1),
    4px -4px 0 rgba(0,0,0,.1),
    -4px 4px 0 rgba(0,0,0,.1),
    4px 4px 0 rgba(0,0,0,.1),
	
	-5px -5px 0 rgba(0,0,0,.05),
    5px -5px 0 rgba(0,0,0,.05),
    -5px 5px 0 rgba(0,0,0,.05),
    5px 5px 0 rgba(0,0,0,.05); 	
}
.radius12  {
	border-radius: 12px;
}
.radius36  {
	border-radius: 36px;
}

